<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ольга Решотка</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content='В каждом человеке я стараюсь увидеть что-то особенное, передать это через объектив своего фотоаппарата и отразить в фотографиях. Я не пытаюсь доказат всем, что я "не такая как все". Я просто делаю, как вижу.' />
        <meta name="keywords" content="Оля Решотка, Ольга Решотка, Решотка, фотограф, фотограф Оля Решотка, фотограф Ольга Решотка, фотографии Ольги Решотки, фото Решотка, Решотка фотограф, фотографии Ольги Решотки, кенон, фотограф Ольга Решотка снимает на кенон, фото кенон Решотка, Левон Манвелян, ученица, фотографии, фотоаппарат, съемка, фотосесии, индивидуальные фотосессии, студия, сьемка на улице, съемка дома, контакты, галлерея, фотогаллерея, фото, красивые фотографии, фотосессия от Ольги Решотки, сайт Ольги Решотки, Сайт Оли Решотки, фотосет, Белая Церковь, фотосессия в Белой Церкви, Оля Решотка фотограф Белая Церковь, фотографии Белая Церковь, студийные фотосессии, обработка фотографий." />
        <meta name="author" content="Judzhin Miles" />

        <link rel="stylesheet" href="assets/stylesheets/screen.css" type="text/css" media="screen, projection" />
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="assets/stylesheets/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />

        <script type="text/javascript" src="assets/javascripts/jquery.min.js"></script>
        

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/icons/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="assets/icons/favicon.png" />

</head>

<body>
    
	<div>
		<h1>Ольга Решотка</h1>
	</div>
	
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40240409-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>	