<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ольга Решотка</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content='В каждом человеке я стараюсь увидеть что-то особенное, передать это через объектив своего фотоаппарата и отразить в фотографиях. Я не пытаюсь доказат всем, что я "не такая как все". Я просто делаю, как вижу.' />
        <meta name="keywords" content="Оля Решотка, Ольга Решотка, Решотка, фотограф, фотограф Оля Решотка, фотограф Ольга Решотка, фотографии Ольги Решотки, фото Решотка, Решотка фотограф, фотографии Ольги Решотки, кенон, фотограф Ольга Решотка снимает на кенон, фото кенон Решотка, Левон Манвелян, ученица, фотографии, фотоаппарат, съемка, фотосесии, индивидуальные фотосессии, студия, сьемка на улице, съемка дома, контакты, галлерея, фотогаллерея, фото, красивые фотографии, фотосессия от Ольги Решотки, сайт Ольги Решотки, Сайт Оли Решотки, фотосет, Белая Церковь, фотосессия в Белой Церкви, Оля Решотка фотограф Белая Церковь, фотографии Белая Церковь, студийные фотосессии, обработка фотографий." />
        <meta name="author" content="Judzhin Miles" />

        <link rel="stylesheet" href="assets/stylesheets/screen.css" type="text/css" media="screen, projection" />

        <!--[if lt IE 8]>
        <link rel="stylesheet" href="assets/stylesheets/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />

        <script type="text/javascript" src="assets/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.common.js"></script>

        <script type="text/javascript" src="assets/javascripts/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.kinetic.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.simplemodal.js"></script>

        <noscript>
        <style type="text/css">
            .or-main a {
                cursor: pointer;
            }

            .or-main-wrapper {
                position: absolute;
                top: 0px;
                bottom: 24px;
                overflow: scroll;
            }
        </style>
        </noscript>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="assets/icons/apple-touch-icon-57-precomposed.png" />
        <link rel="shortcut icon" href="assets/icons/favicon.png" />

        <link rel="stylesheet" href="assets/javascripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="assets/javascripts/fancybox/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.mousewheel.min.js"></script>
        <link rel="stylesheet" href="assets/stylesheets/common.css" type="text/css" media="screen, projection" />
    </head>

    <body>

        <div id="header">

            <div class="inside">

                <div id="menu" class="right">
                    <ul>
                        <li><a href="#" class="contact">Контактная информация</a></li>
                        <li><a href="#" class="services">Цены на услуги</a></li>
                        <li><a href="#" class="about">О фотографе</a></li>
                    </ul>
                </div>

                <div id="logo" class="span-11">
                    <img src="assets/images/logo.png">
                </div>
                <div class="left">
                    <div id="social" class="span-6">
                        <a target="_blank" id="facebook" href="https://www.facebook.com/judzhin.miles">&nbsp;</a>
                        <a target="_blank" id="google" href="https://plus.google.com/u/0/117679433393771742117/posts">&nbsp;</a>
                        <a target="_blank" id="twitter" href="https://twitter.com/Judzhin_Miles"><img src="assets/images/twitter_dark.png" /></a>
                        <a target="_blank" id="myspace" href="https://new.myspace.com/judzhin.miles"><img src="assets/images/myspace_dark.png" /></a>
                        <a target="_blank" id="in" href="http://www.linkedin.com/profile/view?id=157542716"><img src="assets/images/in_dark.png" /></a>
                        <a target="_blank" id="skype" href="skype:judzhinm" ><img src="assets/images/skype_dark.png" /></a>
                    </div>
                </div>

                <div class="clear"></div>
                
            </div>

        </div>

        <div id="contact">

        </div>
        <div id="services">
            <h2>Услуги</h2>
            <ul>
                <li>индивидуальные фотосессии</li>
                <li>обработка ваших фотографий</li>
                <li>необычные фоторамки</li>
            </ul>
            <h2>Цены</h2>
            <p>Фотосессия от 500грн. Отдаю все хорошие фотографии + 5 обработанных. Если желаете, чтоб обработанных было больше, то каждая следующая 20грн. Детали обсудим по телефону или в сообщениях.</p>
        </div>
        <div id="about">
            <h1>Ольга Решотка</h1>
            <p>В каждом человеке я стараюсь увидеть что-то особенное, передать это через объектив фотоаппарата и отразить в фотографиях. Я не пытаюсь всем доказать что я "не такая, как все". Я просто делаю, как вижу.
        </div>

        <div id="or-main-wrapper" class="or-main-wrapper">
            <div class="or-main">
                <a rel="portfolio" class="portfolio" href="uploads/large/1.jpg"><img src="uploads/thumbs/1.jpg" alt="image01"/><span>Чайка</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/2.jpg"><img src="uploads/thumbs/2.jpg" alt="image02"/><span>Сосна</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/3.jpg"><img src="uploads/thumbs/3.jpg" alt="image03"/><span>Цветочик</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/4.jpg"><img src="uploads/thumbs/4.jpg" alt="image01"/><span>Цветочик</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/5.jpg"><img src="uploads/thumbs/5.jpg" alt="image02"/><span>Дождь</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/6.jpg"><img src="uploads/thumbs/6.jpg" alt="image02"/><span>Ягоды</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/7.jpg"><img src="uploads/thumbs/7.jpg" alt="image02"/><span>Улитка</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/8.jpg"><img src="uploads/thumbs/8.jpg" alt="image02"/><span>Домик</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/9.jpg"><img src="uploads/thumbs/9.jpg" alt="image01"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/10.jpg"><img src="uploads/thumbs/10.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/11.jpg"><img src="uploads/thumbs/11.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/12.jpg"><img src="uploads/thumbs/12.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/13.jpg"><img src="uploads/thumbs/13.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/14.jpg"><img src="uploads/thumbs/14.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/15.jpg"><img src="uploads/thumbs/15.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/16.jpg"><img src="uploads/thumbs/16.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/17.jpg"><img src="uploads/thumbs/17.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/18.jpg"><img src="uploads/thumbs/18.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/19.jpg"><img src="uploads/thumbs/19.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/20.jpg"><img src="uploads/thumbs/20.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/21.jpg"><img src="uploads/thumbs/21.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/22.jpg"><img src="uploads/thumbs/22.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/23.jpg"><img src="uploads/thumbs/23.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/24.jpg"><img src="uploads/thumbs/24.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/25.jpg"><img src="uploads/thumbs/25.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/26.jpg"><img src="uploads/thumbs/26.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/27.jpg"><img src="uploads/thumbs/27.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/28.jpg"><img src="uploads/thumbs/28.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/29.jpg"><img src="uploads/thumbs/29.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/30.jpg"><img src="uploads/thumbs/30.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/31.jpg"><img src="uploads/thumbs/31.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/32.jpg"><img src="uploads/thumbs/32.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/33.jpg"><img src="uploads/thumbs/33.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/34.jpg"><img src="uploads/thumbs/34.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/35.jpg"><img src="uploads/thumbs/35.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/36.jpg"><img src="uploads/thumbs/36.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/37.jpg"><img src="uploads/thumbs/37.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/38.jpg"><img src="uploads/thumbs/38.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/39.jpg"><img src="uploads/thumbs/39.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/40.jpg"><img src="uploads/thumbs/40.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/41.jpg"><img src="uploads/thumbs/41.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/42.jpg"><img src="uploads/thumbs/42.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/43.jpg"><img src="uploads/thumbs/43.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/44.jpg"><img src="uploads/thumbs/44.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/45.jpg"><img src="uploads/thumbs/45.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/46.jpg"><img src="uploads/thumbs/46.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/47.jpg"><img src="uploads/thumbs/47.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/48.jpg"><img src="uploads/thumbs/48.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/49.jpg"><img src="uploads/thumbs/49.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/50.jpg"><img src="uploads/thumbs/50.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/51.jpg"><img src="uploads/thumbs/51.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/52.jpg"><img src="uploads/thumbs/52.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/53.jpg"><img src="uploads/thumbs/53.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/54.jpg"><img src="uploads/thumbs/54.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/55.jpg"><img src="uploads/thumbs/55.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/56.jpg"><img src="uploads/thumbs/56.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/57.jpg"><img src="uploads/thumbs/57.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/58.jpg"><img src="uploads/thumbs/58.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/59.jpg"><img src="uploads/thumbs/59.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/60.jpg"><img src="uploads/thumbs/60.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/1.jpg"><img src="uploads/thumbs/1.jpg" alt="image01"/><span>Чайка</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/2.jpg"><img src="uploads/thumbs/2.jpg" alt="image02"/><span>Сосна</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/3.jpg"><img src="uploads/thumbs/3.jpg" alt="image03"/><span>Цветочик</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/4.jpg"><img src="uploads/thumbs/4.jpg" alt="image01"/><span>Цветочик</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/5.jpg"><img src="uploads/thumbs/5.jpg" alt="image02"/><span>Дождь</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/6.jpg"><img src="uploads/thumbs/6.jpg" alt="image02"/><span>Ягоды</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/7.jpg"><img src="uploads/thumbs/7.jpg" alt="image02"/><span>Улитка</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/8.jpg"><img src="uploads/thumbs/8.jpg" alt="image02"/><span>Домик</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/9.jpg"><img src="uploads/thumbs/9.jpg" alt="image01"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/10.jpg"><img src="uploads/thumbs/10.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/11.jpg"><img src="uploads/thumbs/11.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/12.jpg"><img src="uploads/thumbs/12.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/13.jpg"><img src="uploads/thumbs/13.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/14.jpg"><img src="uploads/thumbs/14.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/15.jpg"><img src="uploads/thumbs/15.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/16.jpg"><img src="uploads/thumbs/16.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/17.jpg"><img src="uploads/thumbs/17.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/18.jpg"><img src="uploads/thumbs/18.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/19.jpg"><img src="uploads/thumbs/19.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/20.jpg"><img src="uploads/thumbs/20.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/21.jpg"><img src="uploads/thumbs/21.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/22.jpg"><img src="uploads/thumbs/22.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/23.jpg"><img src="uploads/thumbs/23.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/24.jpg"><img src="uploads/thumbs/24.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/25.jpg"><img src="uploads/thumbs/25.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/26.jpg"><img src="uploads/thumbs/26.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/27.jpg"><img src="uploads/thumbs/27.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/28.jpg"><img src="uploads/thumbs/28.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/29.jpg"><img src="uploads/thumbs/29.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/30.jpg"><img src="uploads/thumbs/30.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/31.jpg"><img src="uploads/thumbs/31.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/32.jpg"><img src="uploads/thumbs/32.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/33.jpg"><img src="uploads/thumbs/33.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/34.jpg"><img src="uploads/thumbs/34.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/35.jpg"><img src="uploads/thumbs/35.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/36.jpg"><img src="uploads/thumbs/36.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/37.jpg"><img src="uploads/thumbs/37.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/38.jpg"><img src="uploads/thumbs/38.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/39.jpg"><img src="uploads/thumbs/39.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/40.jpg"><img src="uploads/thumbs/40.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/41.jpg"><img src="uploads/thumbs/41.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/42.jpg"><img src="uploads/thumbs/42.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/43.jpg"><img src="uploads/thumbs/43.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/44.jpg"><img src="uploads/thumbs/44.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/45.jpg"><img src="uploads/thumbs/45.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/46.jpg"><img src="uploads/thumbs/46.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/47.jpg"><img src="uploads/thumbs/47.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/48.jpg"><img src="uploads/thumbs/48.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/49.jpg"><img src="uploads/thumbs/49.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/50.jpg"><img src="uploads/thumbs/50.jpg" alt="image02"/><span>Женя</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/51.jpg"><img src="uploads/thumbs/51.jpg" alt="image02"/><span>Я</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/52.jpg"><img src="uploads/thumbs/52.jpg" alt="image03"/><span>Таня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/53.jpg"><img src="uploads/thumbs/53.jpg" alt="image03"/><span>Город</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/54.jpg"><img src="uploads/thumbs/54.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/55.jpg"><img src="uploads/thumbs/55.jpg" alt="image03"/><span>Верблюд</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/56.jpg"><img src="uploads/thumbs/56.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/57.jpg"><img src="uploads/thumbs/57.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/58.jpg"><img src="uploads/thumbs/58.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/59.jpg"><img src="uploads/thumbs/59.jpg" alt="image03"/><span>Саня</span></a>
                <a rel="portfolio" class="portfolio" href="uploads/large/60.jpg"><img src="uploads/thumbs/60.jpg" alt="image03"/><span>Саня</span></a>
                <div class="clear"></div>
            </div>
        </div>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-40240409-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>	