<!DOCTYPE html>
<html>
    <head>
        <title>Оля Решотка фотограф</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content='В каждом человеке я стараюсь увидеть что-то особенное, передать это через объектив своего фотоаппарата и отразить в фотографиях. Я не пытаюсь доказат всем, что я "не такая как все". Я просто делаю, как вижу.' />
        <meta name="keywords" content="Оля Решотка, Ольга Решотка, Решотка, фотограф, фотограф Оля Решотка, фотограф Ольга Решотка, фотографии Ольги Решотки, фото Решотка, Решотка фотограф, фотографии Ольги Решотки, кенон, фотограф Ольга Решотка снимает на кенон, фото кенон Решотка, Левон Манвелян, ученица, фотографии, фотоаппарат, съемка, фотосесии, индивидуальные фотосессии, студия, сьемка на улице, съемка дома, контакты, галлерея, фотогаллерея, фото, красивые фотографии, фотосессия от Ольги Решотки, сайт Ольги Решотки, Сайт Оли Решотки, фотосет, Белая Церковь, фотосессия в Белой Церкви, Оля Решотка фотограф Белая Церковь, фотографии Белая Церковь, студийные фотосессии, обработка фотографий." />

        <link rel="stylesheet" href="assets/stylesheets/screen.css" type="text/css" media="screen, projection" />
    </head>

    <body>  
        <div style="padding: 50px;">Скоро открытие моего сайтеца :Р</div>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-40240409-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </body>
</html>	